{% extends "layout.html" %}

{% block title %}
    Home Page
{% endblock %}

{% block main %}
<div class="card rounded-5 mx-auto rounded shadow-lg p-3 mb-5 bg-white " style="width: 44rem; ">
    <div class="card-body">
        <h5 class="card-title " >Book a lawyer</h5>
        <p>
        <form action="/" method="post">

          <div style=" float:left; ">
            <select class="form-select   font" name="symbol" >
              <option disabled="" selected="" >City</option>
              {%for city in cities %}
                  <option >{{city}}</option>
              {% endfor %}
            </select>
          </div>
          <div style=" float:left;  margin-left: 20px;">
              <select class="form-select   font " name="symbol">
                <option disabled="" selected="">Speciality</option>
                {%for speciality in specialities %}
                    <option >{{speciality}}</option>
                {% endfor %}
              </select>
            </div>
            <div style=" float:left; margin-top: 10px; margin-left: 20px;" >
              <input  autocomplete="off" class = "rounded-3" id="name" name="name" placeholder="Lawyer Name" type="text">
            </div>
          </div>
            <div style=" margin-top: 10px;" >
              <button class= "btn " type="submit">Search</button>
            </div>
            </form>
    </div>
  </div>

{% endblock %}
