{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
<div class="card rounded-5 mx-auto rounded shadow-lg p-3 mb-5 bg-white " style="width: 40rem;">
    <div class="card-body">
    <form action="/register" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="username" name="username" placeholder="Username" type="text">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="password" name="password" placeholder="Password" type="password">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="confirmation" name="confirmation" placeholder="Confirm Password" type="password">
        </div>
        <button class="btn font" type="submit">Register</button>
    </form>
</div>
</div>
{% endblock %}