{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <table class="table">
        <thead>
        <tr>
            <th scope="col">symbol</th>
            <th scope="col">shares</th>
            <th scope="col">price</th>
            <th scope="col">transacted</th>
        </tr>
        </thead>
        <tbody>
            {%for row in rows %}
        <tr>
            <td>{{row["symbol"]}}</td>
            <td>{{row["shares"]}}</td>
            <td>{{ (lookup(row["symbol"])["price"] * row["shares"]) | abs | usd}}</td>
            <td>{{row["time"]}}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
